@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;1,500&display=swap');

html,
body, #root, .app{
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

*::-webkit-scrollbar{
  width: 5px;
  background-color: transparent;
}
*::-webkit-scrollbar-thumb{
  background-color: rgb(163, 149, 91);
  border-radius: 10px;
}